<div class="dialog-container">
  <form [formGroup]="servicesForm">
    <div>
      <div class="form-title">
        <h2>Name</h2>
        <img alt="Require icon" src="assets/require.svg">
      </div>
      <mat-form-field appearance="fill" class="name-input">
        <input formControlName="name" matInput placeholder="Service name">
      </mat-form-field>
    </div>

    <div class="form-selects-container">
      <div class="list-container">
        <div class="form-title">
          <h2>Waste types</h2>
          <img alt="Require icon" src="assets/require.svg">
        </div>
        <mat-selection-list formControlName="wasteTypes">
          <mat-list-option
            *ngFor="let wasteType of wasteTypes"
            [value]="wasteType"
          >
            {{ wasteType }}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="list-container">
        <div class="form-title">
          <h2>Payment</h2>
          <img alt="Require icon" src="assets/require.svg">
        </div>
        <mat-selection-list formControlName="payment">
          <mat-list-option
            *ngFor="let payment of paymentTypes"
            [value]="payment"
          >
            {{ payment }}
          </mat-list-option>
          <div class="free-payment-container">
            <h3>Price info</h3>
            <mat-form-field appearance="fill" class="full-width">
              <textarea formControlName="paidComment" matInput placeholder="Price info"></textarea>
            </mat-form-field>
          </div>
        </mat-selection-list>
      </div>
      <div class="list-container">
        <div class="form-title">
          <h2>Delivery</h2>
          <img alt="Require icon" src="assets/require.svg">
        </div>
        <mat-radio-group [(ngModel)]="selectedDeliveryType" formControlName="delivery">
          <mat-radio-button
            *ngFor="let delivery of deliveryTypes"
            [checked]="servicesForm.get('delivery')?.value===delivery"
            [value]="delivery"
          >
            {{ delivery }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="inputs-container">
      <div class="form-title">
        <h2>Contacts</h2>
      </div>
      <table cellspacing="0" class="full-width">
        <tr>
          <td>
            <h3>City</h3>
            <mat-form-field appearance="fill" class="full-width">
              <input formControlName="city" matInput placeholder="City">
            </mat-form-field>
          </td>
          <td>
            <h3>Email</h3>
            <mat-form-field appearance="fill" class="full-width">
              <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <h3>Street address</h3>
      <mat-form-field appearance="fill" class="full-width">
        <textarea formControlName="address" matInput placeholder="Street address"></textarea>
      </mat-form-field>
      <h3>Phone number</h3>
      <mat-form-field appearance="fill" class="phone-input">
        <input formControlName="phone" matInput placeholder="Phone number" type="tel">
      </mat-form-field>
    </div>

  </form>

  <div mat-dialog-actions>
    <button (click)="addService()" [mat-dialog-close]="true" class="dialog-confirm" mat-button>Add</button>
    <button (click)="onNoClick()" class="dialog-close" mat-button>Cancel</button>

  </div>
</div>
