.dialog-container {
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.mat-dialog-title {
  text-align: center !important;
  font-size: 20px;
  color: #88410E;
}

.mat-dialog-content {
  text-align: center;
  font-size: 16px;
  color: #484847;
}

.mat-dialog-actions {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mat-button {
  width: 120px;
  border-radius: 10px;
  font-size: 16px;
}

.open-dialog {
  border: 1px solid #767676;
  background: #FFD8BC;
  color: #3D3D3D;
}

.dialog-close {
  background: #99241D !important;
  color: #FFFFFF !important;
}
