<div class="header__desktop">
  <div class="header__logo" (click)="goToRoute('/')">EcoSearch</div>
  <span class="spacer"></span>
  <app-user-icons *ngIf="isLoggedIn" (logoutEvent)="logout()"></app-user-icons>
</div>

<div class="header__btn-wrapper">
  <button
    *ngIf="!isLoggedIn"
    class="header__btn_signup"
    mat-raised-button
    (click)="goToRoute('/register')"
  >
    Sign up
  </button>
  <button
    *ngIf="!isLoggedIn"
    class="header__btn"
    mat-raised-button
    (click)="goToRoute('/login')"
  >
    Login
  </button>
</div>

<div *ngIf="isLoggedIn" class="header__tablet header__mobile">
  <app-user-avatar></app-user-avatar>
  <div class="menu-wrapper">
    <button class="header__menu" mat-icon-button aria-label="Menu icon">
      <mat-icon class="header__menu-icon">menu</mat-icon>
    </button>
  </div>
</div>
