.popup-container {
  font-size: 22px;
  padding: 17px 13px 5px 26px;
  font-size: 25px;
}

.popup-header {
  font-size: 25px;
  line-height: 29px;
  color: #88410e;
}

.popup__heading {
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #484847;
  margin-bottom: 10px;
  padding-top: 10px;
}

.popup__text {
  font-size: 22px;
  line-height: 26px;
  color: #484847;
  margin-bottom: 10px;
  padding-left: 50px;
}
