<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="icon__types"
    aria-label="Waste types filter"
    (click)="toggleMenu('types')"
  >
    <img class="toolbar__btn_icon" src="/assets/types.svg" alt="Types" />
    <span class="toolbar__btn_text">Types</span>
  </button>

  <button
    mat-icon-button
    class="icon__payment"
    aria-label="Waste payment filter"
    (click)="toggleMenu('payment')"
  >
    <img class="toolbar__btn_icon" src="/assets/payment.svg" alt="Types" />
    <span class="toolbar__btn_text">Payment</span>
  </button>
  <button
    mat-icon-button
    class="icon__delivery"
    aria-label="Waste delivery icon"
    (click)="toggleMenu('delivery')"
  >
    <img class="toolbar__btn_icon" src="/assets/delivery.svg" alt="Types" />
    <span class="toolbar__btn_text">Delivery</span>
  </button>
</mat-toolbar>
