<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav" disableClose="true">
    <form [formGroup]="filtersFormGroup">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          [expanded]="panelOpenState === 0"
          (opened)="setPanelOpenState(0)"
          class="panel-container"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img alt="waste type icon" src="/assets/types.svg" />
              <p>Waste Types</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list formControlName="types">
            <mat-list-option
              *ngFor="let wasteType of toolbarData.types"
              [value]="wasteType"
              (click)="filterChangeHandler()"
            >
              {{ wasteType }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="accordion">
        <mat-expansion-panel
          [expanded]="panelOpenState === 1"
          (opened)="setPanelOpenState(1)"
          class="panel-container"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img alt="payment icon" src="assets/payment.svg" />
              <p>Payment</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list formControlName="payment">
            <mat-list-option
              *ngFor="let payment of toolbarData.payment"
              [value]="payment"
              (click)="filterChangeHandler()"
            >
              {{ payment }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="accordion">
        <mat-expansion-panel
          [expanded]="panelOpenState === 2"
          (opened)="setPanelOpenState(2)"
          class="panel-container"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img alt="delivery icon" src="assets/delivery.svg" />
              <p>Delivery</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group formControlName="delivery">
            <mat-radio-button
              *ngFor="let delivery of toolbarData.delivery"
              (click)="filterChangeHandler(delivery)"
              [value]="delivery"
            >
              {{ delivery }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-sidenav>
</mat-sidenav-container>
