<mgl-marker #myMarker [lngLat]="[es.geo.lng, es.geo.lat]" anchor="bottom">
  <div (click)="markerClickHandler()" class="marker"></div>
</mgl-marker>
<mgl-popup
  [closeButton]="false"
  [marker]="myMarker"
  [offset]="45"
  anchor="bottom"
  maxWidth="auto"
>
  <h3 class="mapboxgl-popup-header">{{ es?.name }}</h3>
  <h4 *ngIf="es?.phone || es?.address" class="mapboxgl-popup__heading">
    Contacts:
  </h4>
  <p class="mapboxgl-popup__text">{{ es?.phone }}</p>
  <p class="mapboxgl-popup__text">{{ es?.address }}</p>
  <h4 class="mapboxgl-popup__heading">Waste types:</h4>
  <p class="mapboxgl-popup__text">{{ es?.wasteTypes }}</p>
  <h4 class="mapboxgl-popup__heading">Payment:</h4>
  <p class="mapboxgl-popup__text">{{ es?.paidComment }}</p>
  <h4 class="mapboxgl-popup__heading">Delivery:</h4>
  <p class="mapboxgl-popup__text">{{ es?.delivery }}</p>
</mgl-popup>
