.dialog-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.mat-dialog-title {
  margin-bottom: 10px;
  font-size: 22px;
  color: #88410E;
}

h1 {
  width: 300px;
  text-align: center;
}

.service-name {
  font-style: italic;
  font-weight: bold;
}

.mat-dialog-content {
  text-align: center;
  font-size: 17px;
  color: #484847;
}

.mat-dialog-actions {
  margin-top: 20px;
}

.mat-button {
  width: 120px;
  border-radius: 10px;
  font-size: 17px;
}

.remove-service {
  margin-right: 40px;
  background: #99241D !important;
  color: #FFFFFF !important;
}

.dialog-close {
  border: 1px solid #767676;
  background: #FFD8BC;
  color: #3D3D3D;
}
