mat-toolbar {
  background: #633d22;
  color: white;
}

mat-sidenav {
  width: 335px;
  border-right: none;
  background: #49a67f;
  color: white;
  border-radius: 0 10px 10px 0;
  padding: 0 20px;
}


mat-sidenav-container {
  height: calc(100vh - 65px);
}

