$toolbarHeight: 98px;

mgl-map {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: 719px) {
  mgl-map {
    height: calc(100% - #{$toolbarHeight});
  }

  .header__desktop {
    display: none;
  }
}
