mat-accordion {
  margin: 20px;
}

mat-expansion-panel {
  border-radius: 17px !important;
}

mat-panel-title p {
  margin: 15px !important;
  font-size: 20px;
  color: #88410E;
}

mat-panel-title img {
  width: 40px;
}

.panel-container {
  background: #E3DDDD;
}

mat-expansion-panel-header,
mat-expansion-panel-header:hover,
mat-expansion-panel-header:focus {
  background: white !important;
}

mat-list-option,
mat-radio-button {
  font-style: italic;
  font-size: 16px;
}

mat-radio-button {
  margin: 10px 0;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

