.user-icons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}

.header__avatar {
  margin-right: 21px;
}

.header__username {
  font-size: 20px;
  line-height: 23px;
  align-self: center;
  color: #ffffff;
  margin-right: 15px;
}

.header__logout-btn {
  align-self: center;
  margin-right: 19px;
}
