.marker {
  background-image: url("/assets/marker.svg");
  background-size: 100%;
  width: 32px;
  height: 54px;
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #00d060;
}

// .mapboxgl-popup-content {
//   padding: 0;
//   margin: 0;
// }
